<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <title>Sistema de Vendas</title>
</head>

<body>
    <header>
        <h1>Sistema de Vendas</h1>
        <hr />
    </header>